@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100vh;
  @apply font-primary tracking-wide;
}

.btn {
  @apply text-lg;
}

#scrollToTop {
  display: none;
  position: fixed;
  bottom: 20px; 
  right: 20px;
  @apply btn btn-primary z-50;
}

#footers {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}

.link {
  text-decoration: none;
  @apply transition ease-in-out hover:scale-110 duration-200 hover:text-white;
}

.font-primary {
  font-family: 'Rajdhani', sans-serif;
}

.font-secondary {
  font-family: 'Poppins', sans-serif;
}

.anchor {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}
  
::-webkit-scrollbar {
  width: 2px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d6d6d6;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #16181d inset !important;
    -webkit-text-fill-color: #c7c7c7 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

::-moz-selection { /* Code for Firefox */
  color: black;
  background: #c7c7c7;
}

::selection {
  color: black;
  background: #c7c7c7;
}